.wrapper {
  height: 115px;
  object-fit: contain;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  align-items: center;
}

.top {
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 69px;
}

.search {
  position: relative;
  width: 181px;
  height: 35px;
  padding: 5px 12px 5px 15px;
  border-radius: 17px;
  border: solid 1px var(--greyish-two);
}

.search-input {
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 2px;
  object-fit: contain;
  opacity: 0.6;
}

.logo {
  width: 96px;
  height: 20px;
  padding: 0.3px 0.2px 0.4px 0.5px;
  object-fit: contain;
}

.info {
  display: flex;
}

.register-btn {
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.btn{
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn{
  padding: 10px 30px;
  border-radius: 100px;
  border: solid 1px var(--pale-orange);
  color: var(--pale-orange);
}

.nav {
  width: 100%;
  height: 46px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  height: 100%;
  position: relative;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item ~ .nav-item {
  margin-left: 19px;
}

.title {
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.subnav {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -50px;
  height: 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.5px var(--white-six);
  background-color: var(--white-five);
}

.subnav-item{
  margin: 0 19px;
}